---
import { Image } from "astro:assets";

interface Props {
  username: string;
  title: string;
}

const { username, title } = Astro.props;

const image = `https://github.com/${username}.png`;
---

<Image
  draggable="false"
  width={200}
  height={200}
  class="avatar"
  src={image}
  alt={`Imagem de perfil de ${username}`}
/>
<h1>{title}</h1>
<p class="username">{`@${username}`}</p>

<style>
  img.avatar {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    padding: 0.37rem;
    border: var(--primary-color) solid 4px;
  }

  h1 {
    font-size: 3.2rem;
    margin-top: 2.4rem;
    margin-bottom: 0.8rem;
  }

  .username {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    opacity: 0.8;
    font-size: 1.8rem;
  }
</style>
